body {
	background-color:#34495e;
	background-size:100%;
}

.navbar-default {
	background-color:#fff;
}

.navbar-nav li.active {
	background-color:#e7e7e7;
}

.navbar-nav li:hover {
	background-color:#d7d7d7;
}

.navbar-nav li a {
	color:#262626 !important;
}

a.navbar-brand {
	color:black !important;
}

.navbar-right {
	padding-right:10px;
}

* {
	border-radius:0px !important;
	border:none !important;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
	-webkit-touch-callout: text !important;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

*:focus {
	outline:0 !important;
}

.jumbotron h1 {
	font-size:47px;
}

.jumbotron p {
	font-size: 20px;
}

.players {
	text-align:center;
}

.players img {
	position:relative;
	display:inline;
	width:35.5px;
	margin-bottom:4px;
	opacity:0.95;
}

.servers .panel-body span {
	display:inline;
}

.right {
	display:inline;
	float:right;
}

.panel-heading {
	background-color:#ecf0f1 !important;
}

.panel-title {
	color:#262626;
}

.panel-body {
	background-color:#fff !important;
}

.progress-bar {
	background-color:#3498db !important;
}

.progress {
	background-color:#ecf0f1 !important;
}

#features {
	text-align:center;
	margin-bottom:20px;
}

.feature {
	display:inline-block;
	padding:10px;
	color:#fff;
	text-align:center;
	width:24%;
	margin:auto;
}

.feature div {
	font-size:16px;
}

.feature i {
	font-size:84px;
	margin-bottom:10px;
}

.feature:hover {
	cursor:pointer;
	-background-color:#fff;
	color:#2ecc71;
	font-weight:;
}

.modal-content {
    font-size:15px;
}

.modal-dialog {
    margin-top:100px !important;
}

.btn-success {
	background-color:#27ae60 !important;
}

.btn-primary {
	background-color:#3498db !important;
}

.btn-primary:hover {
	background-color:#2980b9 !important;
}

.btn-success:hover {
	background-color:#2ecc71 !important;
}

.advertisment {
	max-width:234px;
	height:60px;
	width:auto;
	background-color:#bdc3c7;
	margin-bottom:15px;
}

.advertisment:last-of-type {
	margin-bottom:0px !important;
}

.jumbotron {
	padding-top:5px;
	padding-bottom:15px;
	background-color:#ecf0f1 !important;
}

#header {
	height:110px;
	margin-top:20px;
	position:relative;
}

#header_underlay {
	background:url('images/header.png');
	height:110px;
	-webkit-filter: blur(3px); 
    -moz-filter: blur(3px); 
    filter: blur(3px);
    position:relative;
}

#header_overlay {
	width:532px;
	height:61px;
	background:url('images/text_logo.png') !important;
	z-index:59999;
	position:absolute;
	top:25px;
	left:315px;
}

.package {
	background:#bdc3c7;
	height:150px;
}

.alert {
	font-size:16px;
	color: #fff;
}

.alert-footer {
	background-color: #fff;
	color:#262626;
}

.alert-footer span.bullet {
	margin-right:7px;
	margin-left:7px;
}

.alert-footer span.bullet:before {
	content:"-";
}

.alert-info {
	background-color: #3498db;
}

.alert-warning {
	background-color:#e67e22;
}

.alert-danger {
	background-color:#c0392b;
}

.alert-success {
	background-color:#27ae60;
}

.navbar-brand img {
	width:20px;
	height:20px;
	margin-right:5px;
}

.popover-title {
	background-color:#e74c3c;
	color:#fff;
}

.arrow:after {
	display:none !important;
}

.advertisments {
	text-align:center;
}
